.status {
	position: absolute!important;
    left: 8px;
    top: 14px;
    width: 60px;
    height: 40px;
    padding: 7px;
    font-size: 11px;
    box-shadow: 0 0 2px grey;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}